.default{
	font-family:verdana;
	font-size:11px;
}
.medium{
	font-family:verdana;
	font-size:10px;
}
.caption{
	font-size:16px;
	font-family:verdana;
	font-weight:bold
}
.small{
	font-family:verdana;
	font-size:9px;
}
.shaded-light{
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.15, #f3f3f3),color-stop(0.71, #f3f3f3),color-stop(0.97, #c1c1c1));
}
.shaded-dark{
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.15, #c1c1c1),color-stop(0.71, #f3f3f3),color-stop(0.97, #d3d3d3));
}
.data-row{
 	font-family:verdana;
 	
	font-size:12px;
	height:25px;
	
	
}
.default-button{
	font-family:verdana;
	font-size:11px;
	width:85px;	
	border:1px solid gray;
	background-color:white;
	font-weight:normal;
	cursor:pointer;
}
.rounded-corners{
    
    -webkit-border-radius: 7px;
    border: 0px solid #D3D3D3;
    padding: 2px;
    margin-top:1px;
    
}

.icon-button{
	cursor:pointer;
	margin-top:3px;
}
.shaded{
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.15, #C1C1C1),color-stop(0.71, #848484),color-stop(0.97, #d3d3d3));
}

.metallic{
	
}
.metallic #menupanel{
	font-size:11px;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.15, #C1C1C1),color-stop(0.71, #848484),color-stop(0.97, #d3d3d3));
	border:1px solid gray ;
        width:100%
}

.metallic #titlebar{
	background-color:#d3d3d3 ;
	border-bottom:1px solid gray ;
	padding:2px;
        
}
.metallic #dock{
	height:32px;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.15, #C1C1C1),color-stop(0.71, #848484),color-stop(0.97, #d3d3d3));
	position:absolute;
	bottom:10px;
	border:3px double gray ;
        width:99.35%;
        
        

}
.data-grid{
    width:100%;
}
.data-grid td{
    border:1px solid #d3d3d3;
    font-size:11px;
    font-weight:bold;
    
}

.metallic #stdout{
	
	
	opacity:0.9 ;
	height:90%;
	
	padding:2px;
	background-color:#f3f3f3;
        border:3px double gray;
}


